body{
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1{
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
h2{
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
h3{
  font-size: 16px;
  color: rgb(255, 255, 255);
}
li {
  list-style-type: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*index*/
.content{
width: 1200px;
margin: 0 auto;
}
.nav_menu{
  min-height: 37px;
  margin-bottom: 77px;

}
.nav_menu li{
  float:left;
  margin-right: 135px;
}
.nav_menu li:last-child{
  margin-right: 0;
}

.intro_sedona{
  margin-top: 57px;
  margin-bottom: 57px;
}
.page_columns_top{
  float:left;
  min-width: 256px;
}
.blue_column{
  width: 400px;
}
.page_columns_bottom{
  float:left;
  width:400px;
  min-height: 330px;
}
.search_form_title{
  min-height: 295px;
}
.search_form{
  width:539px;
  height:567px;
  margin:0 auto;
  margin-bottom: 78px;
}
.footer_bottom{
  min-height: 69px;
}
.footer_item{
  float:left;
  width:400px;
}
/*end index*/
/*hotels*/
.hotels_content{
  width: 1200px;
  margin: 73px auto;
}
.hotels_filters{
  min-height: 217px;
}
.hotels_column_left{
  float:left;
  width:241px;
  text-align: left;
}
.hotels_column_center{
  float:left;
  width:288px;
  text-align: left;
}
.hotels_column_right{
  float:right;
  width:330px;
}
.hotels_sort {
  min-height: 87px;
}
.hotels_sort h2{
  float:left;
  margin-right: 40px;
}
.hotels_sort li{
  float:left;
  margin-right: 30px;
}
.hotels_sort li:first-child{
  margin-right: 35px;
}
.hotels_about{
  min-height: 152px;
}
.hotel_item{
  float:left;
}
.hotel_rating{
  float:right;
}
/*end hotels*/
